/* global */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

.root {
    font-family: "Roboto", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Tags */

button {
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* App() */

.c-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 90%;
    max-height: 700px;
    width: 90%;
    max-width: 1000px;
}

/* Game() */

.c-game {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.c-game__img {
    width: 60%;
    max-width: 350px;
}

.c-game .u-column {
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 40%;
}

.c-page .btn-is-disabled {
    cursor: default;
    border: none;
    background-color: #9faab5;
    color: #7c818a;
}

.c-game__button {
    height: 50px;
    width: 30vw;
    max-width: 150px;
    margin-top: 5%;

    color: #fff;

    background-color: #27ae60;
    border-radius: 10px;
}

.c-game__word {
    letter-spacing: 5px;
    font-size: 28px;
}

@media (min-width: 450px) {
    .c-game__word {
        font-size: 40px;
    }
}

/* Letters() */

.c-alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 780px;
    margin-left: 10px;
    margin-top: 20px;
}

.c-alphabet__letter {
    margin-right: 10px;
    margin-bottom: 10px;
}

.c-alphabet__btn {
    width: 50px;
    height: 50px;

    border-radius: 5px;

    background-color: #e1ecf4;
    border: 1px solid #2b77aa;
    color: #2b77aa;
}

/* Guess() */

.c-guess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
}

.c-guess__input,
.c-guess__btn,
.c-guess__text {
    margin-left: 20px;
    margin-top: 20px;
}

.c-guess__text {
    font-size: 18px;
}

.c-guess__keep-together {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c-guess__input,
.c-guess__btn {
    border-radius: 5px;
}

.c-guess__input {
    height: 40px;
    width: 90vw;
    max-width: 420px;
}

.c-guess__btn {
    width: 100px;
    height: 40px;
    background-color: #e1ecf4;
    border: 1px solid #2b77aa;
    color: #2b77aa;
}

/* utilities */

.u-column {
    display: flex;
    flex-direction: column;
}

.u-defeated-text {
    color: red;
    font-weight: 600;
}
